@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-color: #0d1b2a; */
  background-image: url(/build/img/background.webp);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
}

.icons {
  @apply h-24 w-24 md:h-32 md:w-32  hover:shadow-2xl cursor-pointer object-fill rounded-full hover:scale-125 duration-500;
}

/* span {
  @apply text-white;
} */

/* .weather {
  background-image: url(/build/img/weather-bg.jpg);
} */

.weather {
  background-image: linear-gradient(
      rgba(226, 45, 54, 0.9),
      rgba(108, 117, 238, 0.9)
    ),
    url(/build/img/weather-bg.jpg);
  @apply hover:scale-150 duration-500;
}
